* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  overflow: hidden;
}
h1 {
  margin: 0;
}

.background {
  background: url(background.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.page-contents {
  /* border: 2px solid white; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.slogan {
  font-size: 4.25rem;
  margin-top: 5rem;
}

.code {
  color: #8738c7;
  text-shadow: 3px 3px 0 #f0f0f0;
}
.in-your-amazing {
  color: #3caedb;
  text-shadow: 3px 3px 0 whitesmoke;
}
.mode {
  color: #a454e6;
  text-shadow: 3px 3px 0 white;
}

/* ---------------BUTTONS------------- */
.buttons {
  margin-top: 3rem;
  display: flex;
  flex-direction: column-reverse;
}

.find-out-btn,
.back-btn {
  outline: none;
  text-shadow: 0 -1px 0px #0000004d;
  box-shadow: inset 0px 1px 0px grey, 0px 8px 0px 0px lightgrey,
    0px 12px 5px #999;
}

.find-out-btn {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.75rem 2.25rem;
  background: #3caedb;
  border: #3caedb;
  border-radius: 40px;
}

.back-btn {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  background: #081d25;
  border: #081d25;
  color: #a3a3a3;
  font-weight: bold;
}

.find-out-btn:hover,
.find-out-btn:active,
.back-btn:hover,
.back-btn:active {
  color: #dfe7ea;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
}

.find-out-btn:hover,
.find-out-btn:active {
  background: #206a88;
}

.back-btn:hover,
.back-btn:active {
  background: #104357;
}
