body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

.background {
  background: url(background.jpg);
  background-size: cover;
}

.page-contents {
  text-align: center;
  vertical-align: middle;
}

.slogan {
  font-size: 6rem;
  padding: 0.2em 0 0 0;
}

.code {
  color: #8738c7;
  text-shadow: 3px 3px 0 #f0f0f0;
}
.in-your-amazing {
  color: #3caedb;
  text-shadow: 3px 3px 0 whitesmoke;
}
.mode {
  color: #a454e6;
  text-shadow: none;
  text-shadow: 3px 3px 0 white;
}

.find-out-btn,
.back-btn {
  outline: none;
  text-shadow: 0 -1px 0px #0000004d;
}

.find-out-btn {
  font-size: 2.2em;
  padding: 2.5rem 4rem;
  background: #3caedb;
  border: #3caedb;
  border-radius: 30px;
  -moz-box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
  -webkit-box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 10px 5px #999;
}

.back-btn {
  font-weight: bold;
  font-size: 1em;
  margin-right: 1em;
  padding: 1rem 2rem;
  background: #081d25;
  border: #081d25;
  color: #a3a3a3;
  border-radius: 20px;
  -moz-box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 5px 5px #999;
  -webkit-box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 5px 5px #999;
  box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 5px 5px #999;
}

.find-out-btn:hover,
.find-out-btn:active,
.back-btn:hover,
.back-btn:active {
  color: #dfe7ea;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.find-out-btn:hover,
.find-out-btn:active {
  background: #206a88;
  -webkit-box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
  box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
}

.back-btn:hover,
.back-btn:active {
  background: #104357;
  -webkit-box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
  box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 2px 5px #999;
}
